* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #8790af;
}

.bg {
  /* linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), */
  background-image: linear-gradient(
    #cee2d480,
    #237f40ad
    ),
    url("../public/assets/pic9.jpg");
  padding: 20px;
  background-position: center;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  
}

.about-bg{
  /* linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), */
  background-image: linear-gradient(
    #cee2d480,
    #237f40ad
    ),
    url("../public/assets/pic3.jpg");
  padding: 20px;
  background-position: center;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  
}

ul {
  display: flex;
  justify-content: center;
}

nav a, .btn a{
  color: white;
}

li {
  list-style-type: none;
  padding: 8px;
}

a {
  font-size: 20px;
  text-decoration: none;

  font-weight: 500;
 
}

a:hover {
  padding: 2px 0;
  border-bottom: 2px solid rgb(7, 68, 7);
}

.top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.icon {
  width: 10%;
  
}

.icons {
  width: 20%;
  
}



.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #237F40;
  font-size: 18px;
  background: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #237F40;
  color: white;
  text-decoration: none;
}

.btn a{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  border: none;
  background-color: white;
  color: #237F40;
}

.btn a:hover{
  border: none;
  background-color: rgb(245, 250, 233);
  color: #237F40;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}


.header-text {
  text-align: center;
  color: rgb(242, 241, 241);
  padding: 120px 0 30px 0;
  width: 50%;
  margin: 40px auto;
  font-size: 34px;
}

.span {
  font-family: cursive;
  /* color: rgb(7, 68, 7); */
 
  font-weight: 700;
}

.header-text p {
  font-size: 20px;
}

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-text {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  margin: auto;
  line-height: 22px;
  text-align: center;
}

.about-text h3 {
  padding: 12px;
  font-size: 18px;
  
}

.about-text h4 {
  padding: 15px 0;
  color: #eb190a;
}

.about-text p,
h3 {
  font-size: 13px;
  color: #8790af;
}

.new-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgb(157, 122, 135);
}

.new-item-text {
  padding: 50px;
  color: white;
}

.text {
  text-align: left;
  padding: 10px 0;
}

.text h3 {
  padding: 14px 0;
  color: #eb190a;
}

img {
  
  width: 100%;
  border-radius: 10px ;
  /* height: 50vh; */
}

.img {
  width: 60%;
  
}

.products {
  padding: 120px 40px;
  text-align: center;
  background-color: #237F40;
 
}


.services {
  padding: 120px 30px;
  text-align: center;
  margin: auto;
}

.services h2 {
  
  padding-bottom: 10px;
}

.products h2 {
  color: white;
  padding-bottom: 20px;
  
}

.items {
  padding: 50px 40px;
  margin: 0 40px;
 
  display: grid;
grid-template-columns: repeat(3, 1fr);

grid-column-gap: 29px;

  
}

.card {
  
  background-color: #f7f8fb;
  border-radius: 5px;
  font-size: 18px;
  padding-bottom: 8px;
}

.card p, h2 {
  padding: 9px;
  
}



.service-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.service-card {
  padding: 15px;
}

.service-card h3 {
  padding: 10px;
}

.team {
  padding: 100px 30px;
  text-align: center;
  margin: auto;
}

.team-section {
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin: 10px;
}


footer{
  padding-top: 100px;
  text-align: center;

  background-color: rgb(2, 46, 19);
}






/* PRODUCE */

.bg-produce {
  
  background-image: linear-gradient(rgba(66, 65, 65, 0.5),
  rgba(0, 0, 0, 0.5)),
    url("../public/assets/pict.jpg");
  padding: 20px;
  background-position: center;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
}

.produce{
  padding: 120px 40px;
  text-align: center;
}



.product-item{
  margin: auto 10px;
  padding: 50px 40px;
  display: grid;
grid-template-columns: repeat(4, 1fr);
/* grid-template-rows: repeat(2, 1fr); */
grid-column-gap: 29px;
grid-row-gap: 39px;
}



/* form */

.add-produce-form-container {
  width: 400px;
  margin: 10px auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #237F40;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #237F40;
}
